<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eagle Financial Services</title><br>
</head>
<img src="<?php echo $this->webroot; ?>img/EFS.jpg" alt="Eagle Financial Services" style="width:200px;height:150px;class="right".../>
<h1 style="color:red;font-family:'Times New Roman';font-size:200%;text-align:center">Eagle Financial Services</h1>
<hr>
<h2 style="text-align:center;font-family:'Times New Roman';font-size:200%;color:brown"><em>Your Midwest Financial Services Partner</em></h2>
<hr>
<body style="text-align:center;background-color:lightgrey;;font-size:150%;font-family:'Times New Roman';color:black"><em>Financial Advisor Portfolio Planner </em>
<br>
<br>
<iframe src="http://tsw.forexprostools.com?&forex=1,2,3,5,7,9,10&commodities=8830,8836,8831,8849,8833,8862,8832&indices=175,166,172,27,167,40830,179&stocks=284,280,282,287,243,6408,252&tabs=1,2,3,4" width="317" height="467"></iframe><div class="poweredBy" style="font-family:arial,helvetica,sans-serif; direction:ltr;"><span style="font-size: 11px;color: #333333;text-decoration: none;">Technical Summary Widget Powered by <a href="http://www.investing.com/" rel="nofollow" target="_blank" style="font-size: 11px;color: #06529D; font-weight: bold;" class="underline_link">Investing.com</a></span></div>
<iframe align = 'center' frameborder="0" scrolling="no" height="375" width="197" allowtransparency="true" marginwidth="0" marginheight="0" src="http://tools.investing.com/currency-converter/index.php?from=17&to=12"></iframe><br /><table width="197"><tr><td><span style="font-size: 11px;color: #333333;text-decoration: none;"></td></tr></table>
<hr>
<p align = 'left'>Click on below links to view Portfolio Planner Options</p>
<p align = 'left' style="color: blue;font-size:100%;font-family:Calibri"><a href="http://localhost/eagle/customers">View a Customer's Profile</a></p>
<p align = 'left' style="color:blue;font-size:100%;font-family:Calibri"><a href="http://localhost/eagle/investments">Update Non-Stock Investments</a></p>
<p align = 'left' style="color: blue;font-size: 100%;font-family: Calibri"><a href="http://localhost/eagle/stocks">Update Stock Portfolio</a></p>
</body>
</html>